.boton {
    text-align: center;
}

button {
    background-color: #7b2abf;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: none;
    margin: 10px;
    padding: 20px;
    border-radius: 25px;
}